$colorOne: #323232;
$colorTwo: #666666;
$colorThree: #999999;
$colorEight: #aaaaaa;
$colorNine: #e0e0e0;
$colorEleven: #e5e5e5;
$colorFour: #e9e9e9;
$colorTen: #eeeeee;
$colorFive: #efefef;
$colorSix: #f8f8f8;
$colorSeven: #ffffff;

$colorTwelf: rgba(0,0,0,0.5);

$yahei:"Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1","Microsoft JhengHei","\u534e\u6587\u7ec6\u9ed1",STHeiti,MingLiu,Serif;
$songti: "\5b8b\4f53",sans-serif;