
@require('../../components/header/html.ejs', {"pageTitle": "First Sectiondl哈哈哈哈"})
<div id="page-wrapper">
    <div class="container-fluid">
      <h2 class="page-header">欢迎进入XXX管理后台！</h2>
    </div>
    <!-- /.container-fluid -->
</div>
@require('../../components/footer/html.ejs', {"pageData": "First 尾部"})