<div class="fullSlide">
    <div class="bd">
        <ul>
            <li v-for="(item,index) in slideList" v-if="index==slideIndex" :key="index">
                <img src="../../assets/img/1.jpg" alt="轮播">
                <a target="_blank" href="#">
                    <p class="time">MAY 5TH, 2016</p>
                    <h2 class="text_title">在这个线上旅行社，找一位手艺匠人拜师度假</h2>
                    <button class="more">查看更多</button>
                </a>
            </li>
            <li v-for="(item,index) in slideList" v-if="index==slideIndex" :key="index">
                <img src="../../assets/img/1.jpg" alt="轮播">
                <a target="_blank" href="#">
                    <p class="time">MAY 5TH, 2016</p>
                    <h2 class="text_title">在当原田和明轻轻的摇动木把，精巧的机械装置发出规律的哒哒哒的木头声响</h2>
                    <button class="more">查看更多</button>
                </a>
            </li>
            <li v-for="(item,index) in slideList" v-if="index==slideIndex" :key="index">
                <img src="../../assets/img/1.jpg" alt="轮播">
                <a target="_blank" href="#">
                    <p class="time">MAY 5TH, 2016</p>
                    <h2 class="text_title">还有不时出现的诡异笑声，触发出一波又一波的颅内高潮。</h2>
                    <button class="more">查看更多</button>
                </a>
            </li>
            <li v-for="(item,index) in slideList" v-if="index==slideIndex" :key="index">
                <img src="../../assets/img/1.jpg" alt="轮播">
                <a target="_blank" href="#">
                    <p class="time">MAY 5TH, 2016</p>
                    <h2 class="text_title">在这个线上旅行社，找一位手艺匠人拜师度假</h2>
                    <button class="more">查看更多</button>
                </a>
            </li>
        </ul>
    </div>
    <span class="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </span>
    <span class="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
</div>